.headline {
    text-align: center;
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
